.maindiv {
    position: relative;
    left: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-left: 70px;
    margin-top: 28px;
    max-width: 1250px;
    box-shadow: inset 1px 1px 1px rgba(25, 115, 114, 0.4);
}
.divspans{
    color: white;
    font-size: 60px;
}
.spanmain {
    margin: 0;
    padding: 0;
    font-size: 75px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Josefin Sans',cursive;
    transition: 0.35s;
    color: #c5c2c2;
    line-height: 1.3;
    margin-left: 10px;
}
.spanmain:hover {
    animation: rubberband 800ms alternate ease-out;
    color: #197372;
    text-decoration: underline;
}
.buttoncontactme {
    width: 150px;
    height: 40px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #0e0e0d;
    color : #c5c2c2;
    font-size: 15px;
    border : 1px solid #197372;
    cursor: pointer;
}
.buttoncontactme:hover {
    animation: rubberband 800ms alternate ease-out;

}
@keyframes rubberband {
    0%{
        transform: scaleX(1);
    }
    40%{
        transform: scaleX(1.12) scaleY(0.75);
    }
    55%{
        transform: scaleX(0.85) scaleY(1);
    }
    65%{
        transform: scaleX(1.09) scaleY(0.85);
    }
    75%{
        transform: scaleX(0.9)  scaleY(1);
    }
    90%{
        transform: scaleX(1.05) scaleY(0.95);
    }
    100%{
        transform: scaleX(1) scaleY(1);
    }
}
p {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.spanp1 {
    font-family: 'La Belle Aurore',cursive;
    font-size: 20px;
}
.pdes {
    font-size: 18px;
    padding-left: 100px;
    color: #c5c2c2;
    font-weight: 600;
    transition: 1s;
}
.pdes:hover {
    animation: rubberband 800ms alternate ease-out;
    color: #197372;
}
.paragraphaboutme {
    font-size: 24px;
    color: #c5c2c2;
    font-family: Arial, Helvetica, sans-serif;
    padding-left : 10px;
    animation: rubberband 1000ms alternate-reverse ease-in-out;
    text-shadow: 2px 2px 2px rgba(25, 115, 114, 0.4);
}
.buttonmyskills,.buttonmss,.sendmsgcontact {
    width: 150px;
    height: 40px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #0e0e0d;
    color : #c5c2c2;
    font-size: 15px;
    border : 1px solid #197372;
    cursor: pointer;
}
.buttonmss {
    width: 250px;
}
.buttonmyskills:hover,.buttonmss:hover ,.sendmsgcontact:hover{
    animation: rubberband 800ms alternate ease-out;

}
.bonusdiv {
    font-size: 40px;
    color: #197372;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px rgba(25, 115, 114, 0.4);
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    animation : rubberband 3000ms alternate ease-in-out;
    animation-iteration-count: infinite;
}
.pbtn {
    font-size: 18px;
    color: #c5c2c2 ;
    font-family: Arial, Helvetica, sans-serif;
}
#spanlindkdin {
    color: #197372;
    cursor: pointer;
}
#spanlindkdin:hover {
    opacity: 0.7;
}
.boxone {
    width: 200px;
    height: 150px;
    padding: 20px;
    background-color: #0e0e0d;
    color: #c5c2c2;
    border: 1px solid #197372;
}

.inputcontact {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    color: #8d8d8d;
    background: #2b2b2b;
    padding: 0 20px;
    border: 1px solid #197372;
    font-size: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
}
